{% extends "base.html" %}

{% block header %}
    <h1 style="text-align: center">Your orders</h1>
{% endblock header %}
{% block main %}
    {% for period in orders.values %}
        <p style="background: #5900ff">{{ period.title }}</p>
        <ul style="background: linear-gradient(#5900ff, #8000ff, #ae00ff)">
            {% for order in period.items %}
                <li style="text-decoration: none; color: black"><a href="{% url 'item' order.item.pk %}">{{ order }}</a></li>
            {% endfor %}
        </ul>
        <p style="background: #ae00ff">Total: {{ period.total }}&#8381</p>
    {% endfor %}
{% endblock main %}
{% block footer %}
<p>Copyrigth</p>
{% endblock footer %}
